@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@400;700&family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Noto Sans JP", sans-serif;
  background-color: black;
}

/* div#navbar{ */
.navbar {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: rgb(41, 41, 41) !important;
  padding: 20px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}

.heading-content {
  position: absolute;
  top: 50%;
  width: 100%;
  max-width: 100%;
}

.heading-content h5 {
  font-size: 3em;
  font-weight: 300;
  color: white;
  font-family: monospace;
}

.heading-content h1 {
  font-size: 5em;
  font-weight: bolder;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#about {
  color: white;
}

#about hr {
  color: rgb(41, 41, 41);
}

#about .btn {
  border: 2px solid transparent;
  width: 40%;
  padding: 15px 22px;
  background: rgb(41, 41, 41);
  border-radius: 5px;
  margin-top: 10px;
}

#about .btn a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

#about .btn:hover {
  border: 2px solid #1ebba3;
  cursor: pointer;
}

#projects {
  color: white;
}

#projects hr {
  color: rgb(27, 27, 27);
}

.card {
  background-color: rgb(41, 41, 41);
}

.card-body {
  background-color: rgb(41, 41, 41);
}

.card-text {
  font-size: 0.9em;
}
